body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 192, 126);
}
.container {
    max-width: 700px;
    margin: 30px auto;
    background: #ffff;
    padding: 30px;
    box-shadow: 0 2px 20px rgba(253, 253, 253, 0.1);
}
button a {
    padding: 10px 10px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
}
.header h1 {
    text-align: center;
}