/*style.css*/
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    background-color: #cfd7eb;
}
.container {
  max-width: 750px;
  margin: 20px auto;
  background: #ffffff;
  padding: 25px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.header h1 {
    margin-bottom: 8px;
}
.header p {
    margin: 5px 0;
}
.summary {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-top: 20px; 
    text-align: justify;   
}
.summary-pic {
    width: 180px;
    height: auto;
    border-radius: 8px;
    flex-shrink: 0;
}
.summary-title {
    flex-grow: 1;
}
.summary-title h2 {
    margin-top: 0px;
    margin-bottom: 8px;
}
.summary-text {
    text-align: justify;
    margin-top: 0;
    margin-bottom: 10px;
}

.education, .organization, .award, .certificate, .skill, .language {
    margin-bottom: 20px;
}

.education p, .organization p {
    margin-bottom: 5px;
    margin-top: 5px;
}
.education h3, .organization h3 {
    margin-bottom: 8px;
    margin-top: 10px;
}
.education h2, .organization h2, .award h2, .certificate h2, .skill h2, .language h2 {
    margin-bottom: 5px;
}
.organization ul, .award ul, .certificate ul, .skill ul {
    padding-left: 20px;
    margin-top: 5px;
}

.award {
    text-align: justify;
}

a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}






