/*style.css*/
body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #6a77b1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}
.container {
  max-width: 900px;
  margin: 40px auto;
  background: #ffffff;
  padding: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/*content nya*/
.summary {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-top: 10px; 
    text-align: justify;   
}
.summary-pic {
    width: auto;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.summary-title {
    flex-grow: 1;
}
.summary-title h2 {
    margin-top: 0px;
    margin-bottom: 8px;
}
.summary-text {
    text-align: justify;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
}
.summary-text, ul {
    list-style: none;
}

/*content ke2*/
.introduction {
    margin-bottom: 20px;
    margin-top: 25px;
}

.introduction p {
    margin-bottom: 5px;
    font-size: 16px;
    text-align: justify;
}
.quote {
    font-style: italic;
    color: grey;
}
a {
    color: #52372f;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    font-size: 17px;
}
a:hover span {
    color: rgb(134, 134, 212);
}
.media-photos fieldset, .media-attachment fieldset {
    border-radius: 5px;
}






